[submodule "ext-6.0.1.250"]
	path = sencha-workspace/ext-6.0.1.250
	url = https://github.com/JarvusInnovations/extjs.git
	branch = 6.0.1.250
[submodule "sencha-workspace/packages.remote/slate-core-data"]
	path = sencha-workspace/packages.remote/slate-core-data
	url = https://github.com/SlateFoundation/slate-core-data
