[submodule "sencha-workspace/ext"]
	path = sencha-workspace/ext
	url = https://github.com/JarvusInnovations/extjs.git
	branch = workspace/6.2

[submodule "sencha-workspace/packages.remote/slate-core-data"]
	path = sencha-workspace/packages.remote/slate-core-data
	url = https://github.com/SlateFoundation/slate-core-data
[submodule "sencha-workspace/packages.remote/jarvus-apikit"]
	path = sencha-workspace/packages.remote/jarvus-apikit
	url = https://github.com/JarvusInnovations/jarvus-apikit.git
[submodule "sencha-workspace/packages.remote/emergence-apikit"]
	path = sencha-workspace/packages.remote/emergence-apikit
	url = https://github.com/JarvusInnovations/emergence-apikit.git
[submodule "sencha-workspace/packages.remote/sencha-hotfixes"]
	path = sencha-workspace/packages.remote/sencha-hotfixes
	url = https://github.com/JarvusInnovations/sencha-hotfixes.git
